<div padding>
    <ion-segment [(ngModel)]="wishView">
      <ion-segment-button value="submitRequest">
        Submit Request
      </ion-segment-button>
      <ion-segment-button value="myRequests">
        Open Requests
      </ion-segment-button>
    </ion-segment>
</div>

<div [ngSwitch]="wishView"> 
<!-- request items -->
<div *ngSwitchCase="'submitRequest'">
  <h4 text-left padding>
    Please select the items you would like to request.
  </h4>
  <ion-list>
    <ion-item *ngFor="let item of getWishlistItems()">
      <ion-label>{{item.name}}</ion-label>
      <ion-select multiple="true" submitText="Done" cancelText="Cancel" (ionChange)="addItem($event, item.name)">              
        <ion-option *ngFor="let option of item.options">{{option.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div text-center>
    <button ion-button round (click)="confirmRequests()">
        Submit Request
    </button>
  </div>
</div>

  <!-- open requests -->
  <div *ngSwitchCase="'myRequests'"> 
    <h4 text-left padding>
      Here are your open requests.
    </h4>

    <ion-list>
      <ion-item *ngFor="let item of getRequests()">
        {{item.name}}
      </ion-item>
    </ion-list>
  </div>

</div>