<!--
  Generated template for the CurriculumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-list *ngIf="currentAssignment == null">
    <div *ngFor="let module of getModules()">
        <button ion-item (click)="toggleSelection(module)">
            {{module.name}}
            <span class="complete-count">{{module.numberComplete()}} / {{module.assignments.length}}</span>
        </button>
        <ion-list inset *ngIf="module.selected">
            <button [ngClass]="{'completed': assignment.isCompleted}" ion-item *ngFor="let assignment of module.assignments" (click)="selectAssignment(assignment)">
                {{assignment.name}}
            </button>
        </ion-list>
    </div>
</ion-list>
<div *ngIf="currentAssignment != null">
    <button ion-item (click)="selectAssignment(null)">
        <ion-icon name="arrow-back"></ion-icon>
        Back to modules
    </button> 
    
    <h2>{{currentAssignment.name}}</h2>
    <iframe src="./assets/ActivitiesAndLifework.html"  width="100%" height="500" frameborder="0" style="position: absolute; left: -20px"></iframe>
</div>

<style>
    .complete-count {
        display: inline-block;
        position: absolute;
        right: 0px;
    }

    .completed {
        background-color: #00ff00
    }
</style>